<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#" >Digital Services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/dato">Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/lista">Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/promocion">Promociones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
